<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="menu container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item nav-item-divider">

            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">    
                <i class="menu__home-icon bi bi-house-fill"></i>
            </a>

         </li>

          <li class="nav-item nav-item-divider">
            <a class="nav-link" aria-current="page" href="{{ url_for('destinos') }}">
              <strong>
                Destinos
              </strong>
            </a>
          </li>

          <li class="nav-item nav-item-divider">
            <a class="nav-link" href="">
              <strong>
                Hospedagem
              </strong>
            </a>
          </li>

          <div class="nav-item-divider"></div>
          
        </ul>

        {% if session.get('logged_in') %}
          <li class="nav-item dropdown menu-login" id="logado">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ session.get('nome') }}
              <i class="bi bi-person-fill"></i>
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item menu-login-item text-primary" href="{{ url_for('pagina_perfil', id=session.get('id')) }}">Perfil</a></li>
              <li><hr class="dropdown-divider"></li> 

              <li><a class="dropdown-item menu-login-item text-danger" href=" {{ url_for('logout', id=session.get('id'))}}">Sair</a></li>
            </ul>
          </li>

        {% else %}
            
            <a class="nav-link menu-login" id="deslogado" href="{{ url_for('secao') }}">
                <strong>
                    Entrar
                </strong>
                ou 
                <strong>
                    Cadastrar
                </strong>
            </a>

        {% endif %}
      </div>
    </div>
  </nav>

  