{% extends "template.html" %}

{% block main %} 

<div class="card">
    <img src="{{  url_for('static', filename='image/principal.jpg') }}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="dp-flex flex-column">
            <h1 class="card-title">Card title</h1>

            <form class="row g-3">
                <div class="col-auto">
                  <label for="staticEmail2" class="visually-hidden">Email</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
                </div>
                <div class="col-auto">
                  <label for="inputPassword2" class="visually-hidden">Password</label>
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                </div>
              </form>
        </div>
    </div>
</div>

{% endblock %}
