{% extends "template.html"%}

{% block main %}

<style>
    .profile-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .profile-header img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
    .profile-info {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
    }
    .profile-info h5 {
        margin-bottom: 20px;
    }
    .profile-info p {
        margin: 0;
    }
    .profile-info .info-group {
        margin-bottom: 10px;
    }
    .info-group span {
        font-weight: bold;
    }
    .package-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        padding: 10px 20px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .package-item span {
        font-weight: bold;
    }
</style>


<div class="container mt-5">
    <div class="profile-header">
        <img src="https://via.placeholder.com/120" alt="Foto do Usuário">
        <div>
            <h2>{{ cliente.nome }}</h2>
            <a class="btn btn-secondary" href="{{ url_for('editar_perfil', id=session.get('id')) }}">Editar Perfil</a>
        </div>
    </div>
    <div class="profile-info">
        <h5>Informações:</h5>
        <div class="info-group">
            <span>Nome:</span> {{ cliente.nome }}
        </div>
        <div class="info-group">
            <span>CPF:</span> {{ cliente.cpf }}
        </div>
        <div class="info-group">
            <span>Email:</span> {{ cliente.email }}
        </div>
        <div class="info-group">
            <span>Endereço:</span> {{ cliente.rua }} - {{ cliente.bairro }}, CEP: {{ cliente.cep }}
        </div>
    </div>

    <div class="mt-4">
        <h5>Pacotes Comprados:</h5>
            <table class="table table-striped">
                <tbody>
                    {% for pacote in pacotes %}
                        <tr>
                            <td> 
                                <a href="{{ url_for('pagina_pacote', id=pacote.codPacote) }}">
                                    {{ pacote.nome }} 
                                </a>
                            </td>
                            <td> R$ {{ pacote.preco }} </td>
                            <td>
                                <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-trash"></i>
                                </button>
                                
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Remover Pacote</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Deseja remover o pacote {{ pacote.nome }}?
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <a href="{{ url_for('remover_pacote', id=pacote.codPacote) }}" type="button" class="btn btn-danger">Remover Pacote</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>
</div>

{% endblock main %}