{% extends "template.html" %}

{% block main %} 

<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h3 class="card-title text-center">
                <strong>Acesse a sua conta</strong>
            </h3>
            
            <p class="text-center mt-3">
                <button class="btn btn-primary btn-round">
                    <i class="bi bi-google"></i>
                    Botão Redondo
                </button>
            </p>

            <p class="text-center mt-3">
                <button class="btn btn-primary btn-round">
                    <i class="bi bi-google"></i>
                    Botão Redondo
                </button>
            </p>

            <p class="text-center mt-3">
                <button class="btn btn-primary btn-round">
                    <i class="bi bi-google"></i>
                    Botão Redondo
                </button>
            </p>


            <h4 class="text-center mt-3">
                <strong>Ou  </strong>
            </h4>

            <p class="text-center mt-3">
                <button class="btn btn-primary btn-round">
                    <i class="bi bi-list-columns-reverse"></i>
                    Quero me cadastrar 
                </button>
            </p>
        </div>
    </div>
</div>

{% endblock %}
